.custom-checkbox__field:checked + .custom-checkbox__content::after {
	opacity: 1;
}
.custom-checkbox__field:focus + .custom-checkbox__content::before {
	outline: red solid 2px;
	outline-offset: 2px;
}
.custom-checkbox__field:disabled + .custom-checkbox__content {
	opacity: 0.4;
	pointer-events: none;
}
button {
	background-color: #fff;
}
.header {
	position: sticky;
	border-bottom: 2px solid #e3e3e3;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: #fff;
}
.sticky {
	position: sticky;
}
.header__container {
	position: relative;
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__container .header__logo {
	position: relative;
	z-index: 3;
}
.header__container .header__logo .Hatch svg {
	width: 67px;
	height: 43px;
}
.header__container .header__menu .header__list {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
}
.header__container .header__menu .header__list li {
	list-style: none;
	margin-left: 10px;
}
.header__container .header__menu .header__list .header__link {
	display: inline-block;
	margin: auto;
	text-decoration: none;
	font: 700 16px/22px PTSans, sans-serif;
	color: #000;
}
.header__container .header__menu .header__list .header__link:after {
	content: '';
	display: block;
	height: 3px;
	width: 0%;
	background-color: #000;
	transition: width 0.3s ease-in-out;
}
.header__container .header__menu .header__list .header__link:focus:after,
.header__container .header__menu .header__list .header__link:hover:after {
	width: 100%;
}
.header__container .header__menu .header__list .point {
	content: '';
	background: #c7b5ac;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	margin: 0 30px;
}
@media (max-width: 788px) {
	body.lock {
		overflow: hidden;
	}
	.header__burger {
		position: relative;
		display: block;
		width: 50px;
		height: 25px;
		z-index: 3;
	}
	.header__burger::after,
	.header__burger:before {
		content: '';
		position: absolute;
		background-color: #000;
		border-radius: 4px;
		width: 100%;
		height: 4px;
		left: 0;
		transition: 0.3s;
	}
	.header__burger:before {
		top: -2px;
		z-index: 3;
	}
	.header__burger::after {
		bottom: -2px;
	}
	.header__burger span {
		position: absolute;
		background-color: #000;
		border-radius: 4px;
		left: 0;
		width: 100%;
		height: 4px;
		top: 10px;
		transition: 0.3s;
	}
	.header__burger.active:before {
		transform: rotate(45deg);
		top: 11px;
	}
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 11px;
	}
	.header__burger.active span {
		transform: scale(0);
	}
	.header__container .header__menu {
		position: fixed;
		overflow: auto;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 70px 10px 20px;
		transition: 0.4s;
	}
	.header__container .header__menu.active {
		top: 0;
	}
	.header__container .header__menu .header__list {
		display: block;
		text-align: center;
		top: 25%;
	}
	.header__container .header__menu .header__list li {
		margin-bottom: 40px;
	}
	.header__container .header__menu .header__list .header__link {
		font-size: 50px;
		color: #fff;
	}
	.header__container .header__menu .header__list .point {
		display: none;
	}
}
@media (max-width: 788px) and (max-width: 1115px) {
	.header__container .header__menu .header__list .header__link {
		font-size: calc(30px + 20 * ((100vw - 320px) / 1115 -320));
	}
}
.section__Intro {
	padding-top: 110px;
	padding-bottom: 220px;
	background: url(../img/Intro/bg.webp) center/cover no-repeat;
	background-attachment: fixed;
}
.section__Intro .Intro__inner {
	text-align: center;
}
.section__Intro .Intro__inner .Intro__logo {
	margin-bottom: 50px;
	transform: translate(0, 120%);
	opacity: 0;
	transition: 0.8s;
}
.section__Intro .Intro__inner .Intro__logo._active {
	transform: translate(0, 0);
	opacity: 1;
}
.section__Intro .Intro__inner .Intro__header .Intro__header-title {
	color: #000;
	font: 700 14px/22px PTSans, sans-serif;
	text-transform: uppercase;
	transform: translate(0, 110%);
	opacity: 0;
	transition: 0.8s 0.2s;
}
.section__Intro .Intro__inner .Intro__header .Intro__header-title._active {
	transform: translate(0, 0);
	opacity: 1;
}
.section__Intro .Intro__inner .Intro__header .Intro__header-title h3 {
	margin-bottom: 15px;
}
@media (max-width: 1115px) {
	.header__container .header__logo .Hatch svg {
		width: calc(60px + 7 * ((100vw - 320px) / 1115 -320));
		height: calc(35px + 8 * ((100vw - 320px) / 1115 -320));
	}
	.section__Intro {
		padding-top: calc(50px + 60 * ((100vw - 320px) / 1115 -320));
		padding-bottom: calc(50px + 170 * ((100vw - 320px) / 1115 -320));
	}
	.section__Intro .Intro__inner .Intro__header .Intro__header-title {
		font-size: calc(12px + 2 * ((100vw - 320px) / 1115 -320));
	}
	.section__Intro .Intro__inner .Intro__header .Intro__header-title h3 {
		margin-bottom: calc(5px + 10 * ((100vw - 320px) / 1115 -320));
	}
}
.section__Intro .Intro__inner .Intro__header .Intro__header-title .cutlery svg {
	width: 31px;
	height: 27px;
}
.section__Intro .Intro__inner .Intro__header .Intro__header-suptitle {
	margin: 0 auto;
	max-width: 850px;
	padding: 25px;
	font-size: 16px;
	transform: translate(0, 120%);
	opacity: 0;
	transition: 0.8s 0.4s;
}
.section__Intro .Intro__inner .Intro__header .Intro__header-suptitle._active {
	transform: translate(0, 0);
	opacity: 1;
}
.section__Dish.Okroshka {
	padding-top: 280px;
	padding-bottom: 280px;
	background: url(../img/Dish/1.webp) center/cover no-repeat;
	background-attachment: fixed;
}
@media (max-width: 1115px) {
	.section__Intro .Intro__inner .Intro__header .Intro__header-suptitle {
		padding: calc(15px + 10 * ((100vw - 320px) / 1115 -320));
		font-size: calc(14px + 2 * ((100vw - 320px) / 1115 -320));
	}
	.section__Dish.Okroshka {
		padding-top: calc(60px + 220 * ((100vw - 320px) / 1115 -320));
		padding-bottom: calc(80px + 200 * ((100vw - 320px) / 1115 -320));
	}
}
.section__Dish.Steak {
	padding-top: 110px;
	padding-bottom: 400px;
	background: url(../img/Dish/2.webp) center/cover no-repeat;
	background-attachment: fixed;
}
.Dish__container {
	position: relative;
	border-bottom: 5px solid #fff;
	max-width: 725px;
	transform: translate(0, 120%);
	opacity: 0;
	transition: 0.8s;
}
.Dish__container._active {
	transform: translate(0, 0);
	opacity: 1;
}
.Dish__container .Dish__container-left__side,
.Dish__container .Dish__container-right__side {
	position: absolute;
	content: '';
	display: block;
	background: #fff;
	width: 5px;
	height: 94%;
	bottom: 0;
}
.Dish__container .Dish__container-left__side {
	left: 0;
}
.Dish__container .Dish__container-left__side::after {
	content: '';
	display: block;
	background-color: #fff;
	height: 5px;
	position: absolute;
	left: 0;
	width: 25px;
}
@media (max-width: 1115px) {
	.section__Dish.Steak {
		padding-top: calc(50px + 60 * ((100vw - 320px) / 1115 -320));
		padding-bottom: calc(60px + 340 * ((100vw - 320px) / 1115 -320));
	}
	.Dish__container .Dish__container-left__side::after {
		width: calc(15px + 10 * ((100vw - 320px) / 1115 -320));
	}
}
.Dish__container .Dish__container-right__side {
	right: 0;
}
.Dish__container .Dish__container-right__side::before {
	content: '';
	display: block;
	background: #fff;
	height: 5px;
	position: absolute;
	right: 0;
	width: 55px;
}
.Dish__container .Dish__inner {
	color: #fff;
	padding-right: 40px;
	padding-left: 60px;
	padding-bottom: 55px;
}
.Dish__container .Dish__inner .Dish__description {
	max-width: 630px;
	margin-bottom: 30px;
}
.Dish__container .Dish__inner .Dish__description .Dish__title {
	font: 700 50px/50px PTSans, sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 30px;
}
@media (max-width: 1115px) {
	.Dish__container .Dish__container-right__side::before {
		width: calc(20px + 35 * ((100vw - 320px) / 1115 -320));
	}
	.Dish__container .Dish__inner {
		padding-right: calc(20px + 20 * ((100vw - 320px) / 1115 -320));
		padding-left: calc(24px + 36 * ((100vw - 320px) / 1115 -320));
		padding-bottom: calc(35px + 20 * ((100vw - 320px) / 1115 -320));
	}
	.Dish__container .Dish__inner .Dish__description {
		margin-bottom: calc(10px + 20 * ((100vw - 320px) / 1115 -320));
	}
	.Dish__container .Dish__inner .Dish__description .Dish__title {
		font-size: calc(18px + 32 * ((100vw - 320px) / 1115 -320));
		margin-bottom: calc(10px + 20 * ((100vw - 320px) / 1115 -320));
	}
}
.Dish__container .Dish__inner .Dish__description .Dish__text {
	line-height: 30px;
	text-align: justify;
	margin-bottom: 40px;
	font-size: 20px;
}
@media (max-width: 1115px) {
	.Dish__container .Dish__inner .Dish__description .Dish__text {
		margin-bottom: calc(10px + 30 * ((100vw - 320px) / 1115 -320));
		font-size: calc(16px + 4 * ((100vw - 320px) / 1115 -320));
	}
}
.Dish__container .Dish__inner .Dish__info {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.Dish__container .Dish__inner .Dish__info .Dish__price {
	font: 400 60px/40px PTSans, sans-serif;
}
@media (max-width: 1115px) {
	.Dish__container .Dish__inner .Dish__info .Dish__price {
		font-size: calc(20px + 40 * ((100vw - 320px) / 1115 -320));
	}
}
.Dish__container .Dish__inner .Dish__info .Dish__calories {
	font-size: 16px;
}
.section__Menu {
	padding-top: 120px;
	padding-bottom: 88px;
}
.menu__header {
	margin-bottom: 30px;
}
.menu__header .menu__title {
	font: 700 60px/40px PTSans, sans-serif;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 20px;
	transform: translate(0, 120%);
	opacity: 0;
	transition: 0.8s;
}
@media (max-width: 1115px) {
	.Dish__container .Dish__inner .Dish__info .Dish__calories {
		font-size: calc(14px + 2 * ((100vw - 320px) / 1115 -320));
	}
	.section__Menu {
		padding-top: calc(40px + 80 * ((100vw - 320px) / 1115 -320));
		padding-bottom: calc(40px + 48 * ((100vw - 320px) / 1115 -320));
	}
	.menu__header {
		margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1115 -320));
	}
	.menu__header .menu__title {
		font-size: calc(30px + 30 * ((100vw - 320px) / 1115 -320));
		margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1115 -320));
	}
}
.menu__header .menu__title._active {
	transform: translate(0, 0);
	opacity: 1;
}
.menu__header .menu__suptitle-text {
	font-family: PTSans;
	font-size: 20px;
	transform: translate(0, 120%);
	opacity: 0;
	transition: 0.8s 0.2s;
}
.menu__header .menu__suptitle-text._active {
	transform: translate(0, 0);
	opacity: 1;
}
.menu__cards-dishes {
	display: none;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 30px;
}
.menu__cards-dishes.active {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 999px) {
	.menu__cards-dishes.active {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
	}
}
@media (max-width: 788px) {
	.menu__cards-dishes.active {
		grid-template-columns: repeat(2, 1fr);
	}
}
.menu__cards-dishes.hidden {
	display: none;
}
.menu__cards-dishes .menu__cards-item {
	color: #000;
	margin-bottom: 50px;
}
.menu__cards-dishes .menu__cards-item .menu__item-box {
	display: inline-block;
}
.menu__cards-dishes .menu__cards-item .menu__item-box .menu__item-image {
	max-width: 100%;
}
.menu__cards-dishes .menu__cards-item .menu__item-box .menu__item-inner {
	width: 0;
	min-width: 110%;
	margin-top: 25px;
}
.menu__cards-dishes
	.menu__cards-item
	.menu__item-box
	.menu__item-inner
	.menu__item-title {
	font: 700 20px/24px PTSans, sans-serif;
	margin-bottom: 25px;
}
@media (max-width: 1115px) {
	.menu__header .menu__suptitle-text {
		font-size: calc(16px + 4 * ((100vw - 320px) / 1115 -320));
	}
	.menu__cards-dishes .menu__cards-item {
		margin-bottom: calc(25px + 25 * ((100vw - 320px) / 1115 -320));
	}
	.menu__cards-dishes .menu__cards-item .menu__item-box .menu__item-inner {
		margin-top: calc(20px + 5 * ((100vw - 320px) / 1115 -320));
	}
	.menu__cards-dishes
		.menu__cards-item
		.menu__item-box
		.menu__item-inner
		.menu__item-title {
		font-size: calc(17px + 3 * ((100vw - 320px) / 1115 -320));
		margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1115 -320));
	}
}
.menu__cards-dishes
	.menu__cards-item
	.menu__item-box
	.menu__item-inner
	.menu__item-description {
	font: 400 14px/20px PTSans, sans-serif;
	margin-bottom: 25px;
}
@media (max-width: 1115px) {
	.menu__cards-dishes
		.menu__cards-item
		.menu__item-box
		.menu__item-inner
		.menu__item-description {
		margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1115 -320));
	}
}
.menu__cards-dishes
	.menu__cards-item
	.menu__item-box
	.menu__item-inner
	.menu__item-calories {
	margin-bottom: 35px;
}
.menu__cards-dishes
	.menu__cards-item
	.menu__item-box
	.menu__item-inner
	.menu__item-price {
	font: 700 30px/20px PTSans, sans-serif;
}
.menu__list-dishes .menu__list-item {
	position: relative;
	overflow: hidden;
	padding-bottom: 30px;
}
.menu__list-dishes .menu__list-item .list__item-inner {
	padding-left: 30px;
	display: flex;
	cursor: pointer;
	position: relative;
	transform: translate(0, 120%);
	opacity: 0;
	transition: 0.8s;
}
.menu__list-dishes .menu__list-item .list__item-inner._active {
	transform: translate(0, 0);
	opacity: 1;
}
.menu__list-dishes .menu__list-item .list__item-inner:after,
.menu__list-dishes .menu__list-item .list__item-inner:before {
	content: '';
	width: 13px;
	height: 2px;
	background-color: #000;
	position: absolute;
	top: 13px;
	right: 0;
	transition: 0.3s ease-in-out;
}
.menu__list-dishes .menu__list-item .list__item-inner:before {
	transform: rotate(45deg);
	left: 0;
}
.menu__list-dishes .menu__list-item .list__item-inner:after {
	transform: rotate(-45deg);
	left: 8px;
}
.menu__list-dishes .menu__list-item .list__item-inner.active:before {
	transform: rotate(-45deg);
}
.menu__list-dishes .menu__list-item .list__item-inner.active:after {
	transform: rotate(45deg);
}
.menu__list-dishes .menu__list-item .list__item-inner.active:after,
.menu__list-dishes .menu__list-item .list__item-inner.active:before {
	background-color: red;
}
.menu__list-dishes .menu__list-item:after {
	display: block;
	content: '';
	background: #e5e5e5;
	height: 1px;
	width: 100%;
	position: absolute;
	opacity: 0.9;
	bottom: 0;
	margin-bottom: 20px;
}
.menu__list-dishes .menu__list-item:last-child {
	margin-bottom: 0;
}
.menu__list-dishes .menu__list-item .menu-svg__icon {
	margin-left: 12px;
	padding-right: 40px;
}
.menu__list-dishes .menu__list-item .menu-svg__icon.kebab svg {
	width: 34px;
	height: 34px;
}
.menu__list-dishes .menu__list-item .menu-svg__icon.becon svg,
.menu__list-dishes .menu__list-item .menu-svg__icon.desserts svg,
.menu__list-dishes .menu__list-item .menu-svg__icon.drinks svg,
.menu__list-dishes .menu__list-item .menu-svg__icon.garnishes svg,
.menu__list-dishes .menu__list-item .menu-svg__icon.meat svg,
.menu__list-dishes .menu__list-item .menu-svg__icon.sath svg,
.menu__list-dishes .menu__list-item .menu-svg__icon.soup svg {
	width: 43px;
	height: 38px;
}
.menu__list-dishes .menu__list-item .menu-dish__category {
	font: 700 24px/22px PTSans, sans-serif;
	color: #000;
}
@media (max-width: 1115px) {
	.menu__cards-dishes
		.menu__cards-item
		.menu__item-box
		.menu__item-inner
		.menu__item-calories {
		margin-bottom: calc(15px + 20 * ((100vw - 320px) / 1115 -320));
	}
	.menu__cards-dishes
		.menu__cards-item
		.menu__item-box
		.menu__item-inner
		.menu__item-price {
		font-size: calc(20px + 10 * ((100vw - 320px) / 1115 -320));
	}
	.menu__cards-dishes {
		padding-top: calc(20px + 10 * ((100vw - 320px) / 1115 -320));
	}
	.menu__list-dishes .menu__list-item {
		padding-bottom: calc(20px + 10 * ((100vw - 320px) / 1115 -320));
	}
	.menu__list-dishes .menu__list-item .menu-dish__category {
		font-size: calc(18px + 6 * ((100vw - 320px) / 1115 -320));
	}
}
.section__Slider {
	background: #1b1e25;
}
.swiper-container {
	width: 100%;
	height: 100%;
	transform: translate(0, 120%);
	opacity: 0;
	transition: 0.8s;
}
.swiper-container._active {
	transform: translate(0, 0);
	opacity: 1;
}
.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
}
.swiper-button-next::after,
.swiper-button-prev::after {
	color: #fff;
	font-size: 80px;
}
.swiper-slide img {
	height: 187px;
	display: block;
	max-width: 100%;
}
.section__Address {
	padding-top: 120px;
	padding-bottom: 120px;
	background: url(../img/Address/bg.webp) center/cover no-repeat;
	background-attachment: fixed;
}
.section__Address .Address {
	position: relative;
	color: #fff;
	font-family: PTSans;
}
.section__Address .Address .Address__title {
	font: 700 60px/40px PTSans, sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 140px;
	transform: translate(0, 120%);
	opacity: 0;
	transition: 0.8s 0.3s;
}
.section__Address .Address .Address__title._active {
	transform: translate(0, 0);
	opacity: 1;
}
.section__Address .Address .cutlery__icon {
	left: 0;
	transform: translate(0, 120%);
	opacity: 0;
	transition: 0.8s 0.4s;
}
.section__Address .Address .cutlery__icon._active {
	transform: translate(0, 0);
	opacity: 1;
}
.section__Address .Address .cutlery__icon svg {
	width: 34px;
	height: 38px;
}
.section__Address .Address .Address__content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	font-family: PTSans;
	margin-top: 260px;
}
@media (min-width: 560px) and (max-width: 999px) {
	.section__Address .Address .Address__content {
		justify-items: center;
	}
}
.section__Address .Address .Address__content .Address__item {
	border: 5px solid transparent;
	transition: 0.6s ease-out;
}
.section__Address .Address .Address__content .Address__item.active,
.section__Address .Address .Address__content .Address__item:hover {
	border-color: #e93c3c;
}
.section__Address .Address .Address__content .Address__item:last-child {
	margin-bottom: 0;
}
.section__Address
	.Address
	.Address__content
	.Address__item
	.Address__item-inner {
	max-width: 330px;
	padding: 40px 60px;
}
.section__Address
	.Address
	.Address__content
	.Address__item
	.Address__item-inner
	.Address__item-title {
	font: 700 24px/22px PTSans, sans-serif;
	margin-bottom: 20px;
}
@media (max-width: 1115px) {
	.section__Address {
		padding-top: calc(60px + 60 * ((100vw - 320px) / 1115 -320));
		padding-bottom: calc(60px + 60 * ((100vw - 320px) / 1115 -320));
	}
	.section__Address .Address .Address__title {
		margin-bottom: calc(20px + 120 * ((100vw - 320px) / 1115 -320));
		font-size: calc(30px + 30 * ((100vw - 320px) / 1115 -320));
	}
	.section__Address .Address .Address__content {
		margin-top: calc(60px + 200 * ((100vw - 320px) / 1115 -320));
	}
	.section__Address
		.Address
		.Address__content
		.Address__item
		.Address__item-inner {
		padding-top: calc(20px + 20 * ((100vw - 320px) / 1115 -320));
		padding-bottom: calc(20px + 20 * ((100vw - 320px) / 1115 -320));
		padding-right: calc(30px + 30 * ((100vw - 320px) / 1115 -320));
		padding-left: calc(30px + 30 * ((100vw - 320px) / 1115 -320));
	}
	.section__Address
		.Address
		.Address__content
		.Address__item
		.Address__item-inner
		.Address__item-title {
		font-size: calc(18px + 6 * ((100vw - 320px) / 1115 -320));
		margin-bottom: calc(15px + 5 * ((100vw - 320px) / 1115 -320));
	}
}
.section__Address
	.Address
	.Address__content
	.Address__item
	.Address__item-inner
	.Address__item-contact {
	font: 400 16px/22px PTSans, sans-serif;
	margin-bottom: 25px;
}
.section__Address
	.Address
	.Address__content
	.Address__item
	.Address__item-inner
	.Address__item-working.time {
	letter-spacing: 1px;
}
.section__Address
	.Address
	.Address__content
	.Address__item
	.Address__item-inner
	.Address__item-working.time
	.Address__time-title {
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 25px;
}
@media (max-width: 1115px) {
	.section__Address
		.Address
		.Address__content
		.Address__item
		.Address__item-inner
		.Address__item-contact {
		font-size: calc(14px + 2 * ((100vw - 320px) / 1115 -320));
		margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1115 -320));
	}
	.section__Address
		.Address
		.Address__content
		.Address__item
		.Address__item-inner
		.Address__item-working.time
		.Address__time-title {
		font-size: calc(10px + 2 * ((100vw - 320px) / 1115 -320));
		margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1115 -320));
	}
}
.section__Address
	.Address
	.Address__content
	.Address__item
	.Address__item-inner
	.Address__item-working.time
	.Address__time-inner {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}
.footer {
	padding-top: 90px;
	padding-bottom: 120px;
}
.Pressroom .Pressroom__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.Pressroom .Pressroom__inner .Pressroom__news-list .Pressroom__news-title {
	font: 700 60px/40px PTSans, sans-serif;
	text-transform: uppercase;
	margin-bottom: 45px;
	transform: translate(0, 120%);
	opacity: 0;
	transition: 0.8s;
}
@media (max-width: 1115px) {
	.section__Address
		.Address
		.Address__content
		.Address__item
		.Address__item-inner
		.Address__item-working.time
		.Address__time-inner {
		font-size: calc(12px + 2 * ((100vw - 320px) / 1115 -320));
	}
	.footer {
		padding-top: calc(30px + 60 * ((100vw - 320px) / 1115 -320));
		padding-bottom: calc(20px + 100 * ((100vw - 320px) / 1115 -320));
	}
	.Pressroom .Pressroom__inner .Pressroom__news-list .Pressroom__news-title {
		font-size: calc(30px + 30 * ((100vw - 320px) / 1115 -320));
		margin-bottom: calc(20px + 25 * ((100vw - 320px) / 1115 -320));
	}
}
.Pressroom
	.Pressroom__inner
	.Pressroom__news-list
	.Pressroom__news-title._active {
	transform: translate(0, 0);
	opacity: 1;
}
.Pressroom .Pressroom__inner .Pressroom__news-list .Pressroom__news-item {
	display: flex;
	overflow: hidden;
	margin-bottom: 50px;
}
@media (max-width: 999px) {
	.section__Address .Address .Address__content {
		grid-template-columns: repeat(2, 1fr);
	}
	.Pressroom .Pressroom__inner .Pressroom__news-list .Pressroom__news-item {
		display: block;
	}
}
.Pressroom
	.Pressroom__inner
	.Pressroom__news-list
	.Pressroom__news-item
	.Pressroom__item-date {
	display: block;
	font: 400 13px/20px PTSans, sans-serif;
	opacity: 0.7;
	margin-right: 60px;
	min-width: 100px;
}
@media (max-width: 1115px) {
	.Pressroom .Pressroom__inner .Pressroom__news-list .Pressroom__news-item {
		margin-bottom: calc(20px + 30 * ((100vw - 320px) / 1115 -320));
	}
	.Pressroom
		.Pressroom__inner
		.Pressroom__news-list
		.Pressroom__news-item
		.Pressroom__item-date {
		font-size: calc(11px + 2 * ((100vw - 320px) / 1115 -320));
		margin-right: calc(15px + 45 * ((100vw - 320px) / 1115 -320));
		min-width: calc(90px + 10 * ((100vw - 320px) / 1115 -320));
	}
}
.Pressroom
	.Pressroom__inner
	.Pressroom__news-list
	.Pressroom__news-item
	.Pressroom__item-text {
	font: 400 16px/22px PTSans, sans-serif;
	max-width: 500px;
}
@media (max-width: 880px) {
	.Pressroom .Pressroom__inner .Pressroom__social {
		display: flex;
		align-items: center;
	}
}
.Pressroom .Pressroom__inner .Pressroom__social .Pressroom__social-media {
	margin-right: 40px;
}
@media (max-width: 559px) {
	.menu__header {
		text-align: center;
	}
	.menu__cards-dishes.active {
		grid-template-columns: 1fr;
	}
	.swiper-button-next::after,
	.swiper-button-prev::after {
		font-size: 40px;
	}
	.section__Address .Address .Address__content {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 10px 0;
	}
	.Pressroom .Pressroom__inner .Pressroom__social {
		display: block;
		text-align: center;
		margin: 0 auto;
	}
	.Pressroom .Pressroom__inner .Pressroom__social .Pressroom__social-media {
		margin: 0 auto;
	}
}
.Pressroom .Pressroom__inner .Pressroom__social .Pressroom__media-title {
	font: 700 24px/22px PTSans, sans-serif;
	margin-bottom: 35px;
	padding-top: 20px;
	transform: translate(0, 120%);
	opacity: 0;
	transition: 0.8s;
}
@media (max-width: 1115px) {
	.Pressroom
		.Pressroom__inner
		.Pressroom__news-list
		.Pressroom__news-item
		.Pressroom__item-text {
		font-size: calc(14px + 2 * ((100vw - 320px) / 1115 -320));
	}
	.Pressroom .Pressroom__inner .Pressroom__social .Pressroom__media-title {
		font-size: calc(16px + 8 * ((100vw - 320px) / 1115 -320));
		margin-bottom: calc(10px + 25 * ((100vw - 320px) / 1115 -320));
		padding-top: calc(10px + 10 * ((100vw - 320px) / 1115 -320));
	}
}
.Pressroom
	.Pressroom__inner
	.Pressroom__social
	.Pressroom__media-title._active {
	transform: translate(0, 0);
	opacity: 1;
}
.Pressroom .Pressroom__inner .Pressroom__social .Pressroom__media-icons {
	margin-right: 20px;
	margin-bottom: 50px;
	transform: translate(0, 120%);
	opacity: 0;
	transition: 0.8s 0.2s;
}
.Pressroom
	.Pressroom__inner
	.Pressroom__social
	.Pressroom__media-icons._active {
	transform: translate(0, 0);
	opacity: 1;
}
.Pressroom .Pressroom__inner .Pressroom__social .Pressroom__media-icons svg {
	margin-right: -6px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	width: 53px;
	height: 53px;
}
.Pressroom
	.Pressroom__inner
	.Pressroom__social
	.Pressroom__media-icons
	svg:hover {
	opacity: 0.8;
}
.Pressroom .Pressroom__inner .Pressroom__social .contact__email {
	transform: translate(0, 120%);
	opacity: 0;
	transition: 0.8s 0.3s;
}
.Pressroom .Pressroom__inner .Pressroom__social .contact__email._active {
	transform: translate(0, 0);
	opacity: 1;
}
.Pressroom .Pressroom__inner .Pressroom__social .contact__email label {
	display: block;
	font: 700 14px/20px PTSans, sans-serif;
	margin-bottom: 15px;
}
.Pressroom .Pressroom__inner .Pressroom__social .contact__email .form__inner {
	display: flex;
}
.Pressroom
	.Pressroom__inner
	.Pressroom__social
	.contact__email
	.form__inner
	::-moz-placeholder {
	color: #000;
}
.Pressroom
	.Pressroom__inner
	.Pressroom__social
	.contact__email
	.form__inner
	:-ms-input-placeholder {
	color: #000;
}
.Pressroom
	.Pressroom__inner
	.Pressroom__social
	.contact__email
	.form__inner
	::placeholder {
	color: #000;
}
.Pressroom
	.Pressroom__inner
	.Pressroom__social
	.contact__email
	.form__inner
	input:focus {
	outline: #000 solid 2px;
}
.Pressroom
	.Pressroom__inner
	.Pressroom__social
	.contact__email
	.form__inner
	.email__input {
	max-width: 280px;
	border: 1px solid #b2b2b2;
	border-right: 0;
	height: 50px;
	padding-left: 12px;
	padding-right: 200px;
}
@media (max-width: 1115px) {
	.Pressroom .Pressroom__inner .Pressroom__social .Pressroom__media-icons {
		margin-bottom: calc(15px + 35 * ((100vw - 320px) / 1115 -320));
	}
	.Pressroom .Pressroom__inner .Pressroom__social .Pressroom__media-icons svg {
		width: calc(43px + 10 * ((100vw - 320px) / 1115 -320));
		height: calc(43px + 10 * ((100vw - 320px) / 1115 -320));
	}
	.Pressroom .Pressroom__inner .Pressroom__social .contact__email label {
		margin-bottom: calc(10px + 5 * ((100vw - 320px) / 1115 -320));
	}
	.Pressroom
		.Pressroom__inner
		.Pressroom__social
		.contact__email
		.form__inner
		.email__input {
		padding-right: calc(20px + 180 * ((100vw - 320px) / 1115 -320));
	}
}
.Pressroom
	.Pressroom__inner
	.Pressroom__social
	.contact__email
	.form__inner
	.submit {
	padding: 13px 25px;
	border: 1px solid #b2b2b2;
	background: url(/src/img/svg/Pressroom/arrow.svg);
}
.Pressroom
	.Pressroom__inner
	.Pressroom__social
	.contact__email
	.form__inner
	.submit:hover {
	background: #000;
}
.Pressroom
	.Pressroom__inner
	.Pressroom__social
	.contact__email
	.form__inner
	.submit:hover
	svg {
	fill: red;
}
.Pressroom
	.Pressroom__inner
	.Pressroom__social
	.contact__email
	.form__inner
	.submit:focus {
	outline: #000 solid 2px;
}
.Pressroom
	.Pressroom__inner
	.Pressroom__social
	.contact__email
	.form__inner
	.submit
	svg {
	fill: none;
	stroke: #e93c3c;
	stroke-width: 2px;
	fill-rule: evenodd;
	width: 13px;
	height: 17px;
}
